.mibg{
    background-color:#D0D0D0;
}
li{
    list-style: none;
}
#fondo{
    
    background-image: url("../img/fondoin.png");
    height: 100vh;
    background-repeat: no-repeat;
}
.accion{
    background-color:#D0D0D0;
    font-weight: bold;
}